.header{
    display: flex;
    align-items: center;
    background: #000d;
    border-bottom: solid 2px rgb(105, 62, 192);
    position: fixed;
    width: 100%;
}

.header .itemsContainer{
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    margin-left: auto;
    float: right;
}

.header .itemsContainer a{
    display: flex;
    text-decoration: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.header .itemsContainer a:hover{
    color: rgb(150, 150, 150);
}

.header .itemsContainer .shop{
    font-weight: 900;
    background: rgb(105, 62, 192);
    width: 200px;
    height: 83px;
}

.header .itemsContainer .shop:hover{
    color: white;
    background: #2193b0;
    background: linear-gradient(to right, #6dd5ed, #2193b0); 


}

